body {
    background:cadetblue;
    color: black;
    font: normal 10pt Arial;
    text-align: center;
}

.p1 {
    padding: 20px;
    border-radius: 5px;
    background-color:darkslategray;
    margin-right: auto;
    display: inline-flex;
}


.parte1 {
    display: inline-flex;
    margin-right: 20px;
}


.p_i {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: oldlace;
    margin-right: 50px;
    margin-left: 50px;
}

.engrenagem {
    color: white;
    padding: 20px;
    border-radius: 5px;
    background-color:cadetblue;
    margin-top: 10px;
    display: flex;
}

.col_1 {
    padding: 40px;
    border-radius: 5px;
    background-color:darkslategray;
    margin: auto;
}

.col_2 {
    padding: 40px;
    border-radius: 5px;
    background-color:darkslategray;
    margin: auto;
}

.col_3 {
    padding: 40px;
    border-radius: 5px;
    background-color:darkslategray;
    margin: auto;

}

.eng {
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: oldlace;
    margin: 5px;
}

.botoes {
    margin-top: 20px;
    display: flex;
}

.calculate {
    margin: auto;
}

interferencia {
    display: inline-flex;
}

.interferencia_input {
    display: inline-flex;
}

.interferencia_resultado {
    display: inline-flex;
}