body {
    background: cadetblue;
    color: black;
    font: normal 10pt Arial;
    text-align: center;
}

.h1 {
    color: black;
    text-align: center;
}

.h2 {
    color: black;
    text-align: left; 
    margin-left: 110px;
}

.h3 {
    color: black;
    text-align: left; 
    margin-left: 130px;
}

.DadosdeEntrada1 {
    padding: 20px;
    border-radius: 5px;
    background-color:darkslategray;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    display: inline-flex;
}

.BarraHorizontal1 {
    display: inline-flex;
    margin-right: 20px;
}


.imput1 {
    background-color:oldlace;
    color: black;
    border-radius: 5px;
    padding: 5px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: justify;
}

.parametro {
    padding: 10px;
    border-radius: 5px;
    background-color:oldlace;
    color: black;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    display: inline-flex;
}

.DadosdeEntrada2 {
    color: white;
    padding: 20px;
    border-radius: 5px;
    background-color:darkslategray;
    margin-top: 10px;
    margin-left: 97px;
    margin-right: 97px;
    display: inline-flex;
}
.entradaDigitada {
    width: 90px;
    text-align: center;
}

.imput2 {
    padding: 7px;
    background-color: oldlace;
    color: black;
    border-radius: 5px;
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.calcular1 {
    display: inline-flexbox;
}

.button1 {
    margin-top: 5px;
    display: inline-flex;
}

.calcular {
    display: inline-flexbox;
}

.button {
    margin: 3px;
    display: inline-flex;
}

.SaidadeDados {
    color: white;
    padding: 20px;
    border-radius: 5px;
    background-color:darkslategray;
    margin-top: 5px;
    margin-left: 97px;
    margin-right: 97px;
    display: inline-flex;
}

.output1 {
    padding: 7px;
    background-color: oldlace;
    color: black;
    border-radius: 5px;
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.resultado {
    width: 90px;
    text-align: center;
}

.engrenagem {
    color: white;
    padding: 20px;
    border-radius: 5px;
    background-color:cadetblue;
    margin-top: 10px;
    display: flex;
}

.col_1 {
    padding: 40px;
    border-radius: 5px;
    background-color:darkslategray;
    margin: auto;
}

.col_2 {
    padding: 40px;
    border-radius: 5px;
    background-color:darkslategray;
    margin: auto;
}

.col_3 {
    padding: 40px;
    border-radius: 5px;
    background-color:darkslategray;
    margin: auto;

}

.eng {
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: oldlace;
    margin: 5px;
}

.botoes {
    margin-top: 20px;
    display: flex;
}

.calculate {
    margin: auto;
}

interferencia {
    display: inline-flex;
}

.interferencia_input {
    display: inline-flex;
}

.interferencia_resultado {
    display: inline-flex;
}